* {
    box-sizing: border-box;
}
body{
    background-color: #282A36;
    color: white;
    font-family: 'Segoe UI';
}
table, th, td {
    border: 1px solid #fff;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
}
a {
    color: gray;  
    text-decoration:none;
}

a:hover {
    color: rgb(84, 73, 202);
}

img {
    width: 50%;
    /* margin-left: auto;
    margin-right: auto; */
}


/* style="background-color: rgb(61, 60, 60);" */
.code-line {
    background: rgb(61, 60, 60);
    border-radius: 10%;
}